
<% include ../partials/header %>

<div class="container">
	<form action="/profile/<%= currentUser._id %>/pet-profiles" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label>Name</label>
			<input class="form-control" type="string" name="pet[name]" autofocus required>
		</div>
		<div class="form-group">
			<label>Nicknames (Optional)</label>
			<input class="form-control" type="string" name="pet[nicknames]" autofocus>
		</div>
		<div class="form-group">
			<label>Breed</label>
			<select class="form-control" name="pet[breed]" id="breed-select" required>
				<option value="" disabled selected>Breed</option>
			</select>
		</div>
		<div class="form-group">
			<label>Age</label>
			<input class="form-control" type="number" name="pet[age]" required>
		</div>
		<div class="form-group">
			<label>Birth (or Adoption) Date</label>
			<input class="form-control" type="date" name="pet[birthdate]" placeholder="birthdate" required>
		</div>
		<div class="form-group">
			<label>Birth (or Adoption) Place</label>
			<input class="form-control" type="string" name="pet[birthPlace]" placeholder="birth or adoption location" required>
		</div>
		<div class="form-group">
			<input type="file" name="petImage" required>
		</div>
		<button>Submit</button>
	</form>
</div>


<% include ../partials/footer %>