<% include ../partials/pet-profile-header %>
	
	<a href="/profile/<%= currentUser._id %>">Back to Hooman Paws</a>
	<div class="container-fluid">
		<div class="container">
			<div id="pet-profile-header">
				<img id="pet-profile-bone" src="https://i.imgur.com/qkgQLjc.png">
				<h1 class="pet-profile-name"><%= pet.name %></h1>
			</div>
		</div>

		<div class="container">
			<div class="pet-profile-border">
				<div class="row">
					<div class="col-xs-6">
						<img class="pet-profile-pic" src="<%= pet.petImage[0] %>">
					</div>
					<div class="col-xs-6">
						
					</div>
				</div>
				<div class="fun-facts">
					<h1>Fun Facts</h1>
				</div>
			</div>
		</div>

	</div>



<% include ../partials/footer %>