<% include ./partials/header %>

<div class="body404">
	<h1 class="header404">404: </h1>
	<h1 class="header404">Someone ate this page!</h1>
</div>






<% include ./partials/footer %>

	<script src="/scripts/bootstrap.min.js"></script>
</body>
</html>