<% include ./partials/header-home %>

<div class="jumbotron">
	<div class="container">


		<nav>
			<div id="navbar-header" class="navbar-header">
				<a class="navbar-brand" href="/"><span>CCG</span></a>
				<button class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="nav-collapse" class="collapse navbar-collapse">
				<ul class="nav nav-pills navbar-right">
					<% if(currentUser){ %>
						<li><a href="/profile/<%= currentUser._id %>"><i class="fas fa-paw"></i></a></li>
					<% } %>
				</ul>
			</div>
		</nav>


		<div id="jumbotron-content">
			<h1>Canine Consulting Group</h1>
		</div>
	</div>
</div>

<div class="home-label">
	<div class="container">
		<p>Welcome Mother Fuckers - Wendy Wang</p>
		<% if(currentUser){ %>
			<a href="/profile/<%= currentUser._id %>">Back to Hooman Paws</a>
			<a href="/logout">Logout</a>
		<% } else { %>
			<a href="/register">Sign Up</a>
			<a href="/login">Log In</a>
		<% } %>
	</div>
</div>

<div class="item-container">
	<div class="item blue">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Golden_Retriever_medium-to-light-coat.jpg/220px-Golden_Retriever_medium-to-light-coat.jpg">
		<h3>Cub School</h3>
		<a href="/cub-school">
			<i class="fas fa-paw"></i>
		</a>
	</div>
	<div class="item green">
		<img src="https://www.what-dog.net/Images/faces2/scroll000.jpg">
		<h3>Health and Wellness</h3>
		<a href="/">
			<i class="fas fa-utensils"></i>
		</a>
	</div>
	<div class="item red">
		<img src="https://pbs.twimg.com/profile_images/846146544072101888/0sLpdiu1_400x400.jpg">
		<h3>Food</h3>
		<a href="/">
			<i class="fas fa-info"></i>
		</a>
	</div>
	<div class="item yellow">
		<img src="https://static-cdn.jtvnw.net/jtv_user_pictures/hsdogdog-profile_image-5550ade194780dfc-300x300.jpeg">
		<h3>Cub Social</h3>
		<a href="/">
			<i class="fas fa-phone"></i>
		</a>
	</div>
</div>

<% include ./partials/footer %>
