<% include ./partials/header-home %>

<div class="jumbotron">
	<div class="container">


		<nav>
			<div id="navbar-header" class="navbar-header">
				<a class="navbar-brand" href="/"><span>CCG</span></a>
				<button class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="nav-collapse" class="collapse navbar-collapse">
				<ul class="nav nav-pills navbar-right">
					<% if(currentUser){ %>
						<li><a href="/profile/<%= currentUser._id %>"><i class="fas fa-paw"></i></a></li>
					<% } %>
				</ul>
			</div>
		</nav>


		<div id="jumbotron-content">
			<h1>Canine Consulting Group</h1>
		</div>
	</div>
</div>

<div class="home-label">
	<div class="container">
		<p>Welcome Mother Fuckers - Wendy Wang</p>
		<% if(currentUser){ %>
			<a href="/profile/<%= currentUser._id %>">Back to Hooman Paws</a>
			<a href="/logout">Logout</a>
		<% } else { %>
			<a href="/register">Sign Up</a>
			<a href="/login">Log In</a>
		<% } %>
	</div>
</div>


<div class="item-container">
	<div class="item item1">
		<img class="item-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Golden_Retriever_medium-to-light-coat.jpg/220px-Golden_Retriever_medium-to-light-coat.jpg">
		<h3>Cub School</h3>
		<a href="/cub-school">
			<i><img src="https://i.imgur.com/h3wrkij.png"></i>
		</a>
	</div>
	<div class="item item2">
		<img class="item-image" src="https://i.imgur.com/pWEVl52.jpg">
		<h3>Health and Wellness</h3>
		<a href="/">
			<i><img src="https://i.imgur.com/XQWwsAZ.png"></i>
		</a>
	</div>
	<div class="item item3">
		<img class="item-image" src="https://i.imgur.com/Ib1xOrE.jpg">
		<h3>Food</h3>
		<a href="/">
			<i><img src="https://i.imgur.com/6SjROEw.png"></i>
		</a>
	</div>
	<div class="item item4">
		<img class="item-image" src="https://i.imgur.com/RFwBvL0.jpg">
		<h3>Cub Social</h3>
		<a href="/">
			<i><img src="https://i.imgur.com/6uoF3Mn.png"></i>
		</a>
	</div>
</div>

<% include ./partials/footer %>
