/* NON-TIFFANY BLUE: #77d2ca OR rgba(119, 210, 202, 1) */

body {
	font-family: 'Playfair Display', serif;
	overflow-y: scroll;
}

.navbar {
	background-color: rgba(119, 210, 202, 1);
	font-weight: bold;
	margin: 0;
}

.navbar-toggle .icon-bar {
	background-color: white;
}

#navbar-header .navbar-brand{
	color: white;
}

#navbar-header .navbar-brand:hover {
	color: rgba(119, 210, 202, 1);
	background-color: white;
}

#nav-collapse ul li a {
	color: white;
}

#nav-collapse ul li a:hover {
	color: rgba(119, 210, 202, 1);
	background-color: white;
}

h1 {
	margin-top: 30px;
	text-align: center;
	color: white;
	font-family: Sacramento;
	font-size: 9vw;
}

/*********************************** CUB SCHOOL *******************************************/

#package-container {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/GIc4hZ7.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	height: 1000px;
	overflow: hidden;
	overflow-y: auto;
	opacity: 0.9;
}

#package-container ul {
	margin-top: 50px;
	list-style-type: none;
}

.package-list-container {
	width: 80%;
	display: block;
	padding: 0;
	margin: 0 auto;
	border-radius: 10px;
	background-color: rgba(238, 238, 238, 0.8);
}

.package-separate {
	border: 0.5px solid black;
	opacity: 0.2;
	width: 80%;
	display: block;
	margin: 0 auto;
}

ul .package-list h3 {
	font-size: 2.5vw;
	text-align: center;
	padding: 20px 0 20px 50px;
	margin: 0;
}

.package-list:hover {
	cursor: pointer;
}

.package-list:hover h3 {
	transform-origin: center;
	transform: scale(1.1) translate(1px);
	transition: transform .1s ease-out 20ms;
}

.package-dropdown {
	display: none;
}

.package-dropdown hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    color: black;
    margin: 0;
}

.package-dropdown ul {
	padding-bottom: 30px;
	padding-left: 0;
}

.package-dropdown ul li {
	display: block;
	margin: 0 0 0 10%;
	padding: 5px;
	font-size: 1.8vw;
}

.package-dropdown ul li .package-icon {
	margin-right: 30px;
}

ul#therapist-embedded-list {
	margin-top: 0;
	padding: 0;
	font-size: 13px;
}

svg.svg-inline--fa.fa-circle.fa-w-16{
	font-size: 8px;
	margin-right: 30px;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */
@media screen and (max-width: 830px){
	.package-list-container {
		width: 100%;
	}

	.package-dropdown ul li {
		font-size: 2.5vw;
	}
}

@media screen and (max-width: 767px){

	ul .package-list h3 {
		font-size: 4vw;
	}

	.package-dropdown ul li {
		font-size: 3vw;
	}

	ul .package-list:hover h3 {
		transform-origin: left;
		transform: scale(1) translate(0px);
		transition-property: none;
	}
}

@media screen and (max-width: 440px) {
	.package-list h3 {
		font-size: 4vw;
	}

	.package-dropdown ul li {
		font-size: 3vw;
	}
}

/*********************************** HEALTH *******************************************/
#health-page {
	background-color: #5472a3;
	height: 1000px;
}

.health-wrapper {
	overflow: hidden;
	width: 80%;
	margin: 50px auto 0 auto;
	display: block;
}

.health-topic {
	float: left;
	width: 20%;
	margin-left: 5%;

}

.health-topic-image {
	width: 100%;
	border-radius: 50%;
}




/*********************************** FOOD *******************************************/
#food-page {
	background-color: #5472a3;
}

.blurb {
	width: 70%;
	margin: 0 auto;
}

.blurb p {
	color: white;

}

.food-page-content {
	margin-top: 50px;
}

.header-tabs {
	display: table;
	margin: 0 auto;
}

.header-tabs h4 {
	color: white;
	font-size: 2vw;
	display: inline;
	float: left;
	border-top: solid 1px white;
	border-right: solid 1px white;
	border-left: solid 1px white;
	margin: 0 5px;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.food-content {
	border: 1px solid white;
	border-radius: 10px;
	padding: 15px;
	width: 80%;
	margin: 0 auto;
}

.food-content-list {
	list-style: none;
	padding: 0;
}

.individual-food-container h5 {
	color: white;
	font-size: 2.5vw;
}

.individual-food-container p {
	color: white;
	font-size: 1.5vw;
}

.individual-food-container a {
	color: white;
	text-decoration: none;
}

.food-image {
	width: 100%;
	border-radius: 50%;
}

.food-icon-container {
	margin-top: 2vw;
}

.food-icon {
	width: 20%;
	margin: 5px;
}

/* HIDE DROPDOWNS */
#content-40-60, #content-60-80 {
	display: none;
}

/************************************ CUB SOCIAL ***************************************/
#cub-social-page {
	background-color: #5472a3;
	min-height: 800px;
}

#cub-social-content h2{
	text-align: center;
	font-size: 3.5vw;
	color: white;
	margin: 10px 0 0 0;
}

.sidebar-container {
	border: 1px solid black;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	height: 70vh;
}

.sidebar-container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-container {
	padding: 0;
}

.towns-top-row {
	overflow: hidden;
}

.towns-top-row a {
	width: 20%;
	float: left;
	margin: 0 2.5%;
}

.towns-top-row img {
	width: 100%;
	border-radius: 50%;
}

.towns-middle-row {
	overflow: hidden;
}

.towns-middle-row a {
	width: 20%;
	float: left;
}

.towns-middle-row a:nth-child(1) {
	margin-left: 15.55555555%;
}

.towns-middle-row a:nth-child(2) {
	margin: 0 4.44444444%;
}

.towns-middle-row a:nth-child(3) {
	margin-right: 15.55555555%;
}


.towns-middle-row img {
	width: 100%;
	border-radius: 50%;
}

.towns-bottom-row {
	overflow: hidden;
}

.towns-bottom-row a {
	width: 20%;
	float: left;
}

.towns-bottom-row a:nth-child(1) {
	margin-left: 27.7777777%;
	margin-right: 2.2222222%;
}

.towns-bottom-row a:nth-child(2) {
	margin-left: 2.2222222%;
	margin-right: 27.7777777%;  
}

.towns-bottom-row img {
	width: 100%;
	border-radius: 50%;
}

.social-extras div {
	padding: 0;
}

.social-extras div div {
	width: 85%;
	border: 1px solid black;
	border-radius: 10px;
	min-height: 300px;
	margin: 0 auto;
	padding: 0;
}

.social-extras h3 {
	text-align: center;
}

/**************************************** 404 ***************************************/
.body404 {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('https://i.imgur.com/ZuZ6mi6.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	height: 1500px;
	overflow: hidden;
	overflow-y: auto;
	opacity: 0.9;
}

.header404 {
	font-family: Schoolbell, cursive;
	color: rgba(119, 210, 202, 1);
}

/*********************************** PUPPY TOWN *******************************************/
#puppy-town-page {
	background-color: #5472a3;
}

.puppy-page-content {
	margin-top: 50px;
}

/* HEADER TABS ARE USING SAME CLASSES AS FOOD PAGE */

.puppy-content {
	border: 1px solid white;
	border-radius: 10px;
	padding: 15px;
	width: 80%;
	margin: 0 auto;
}


.individual-puppy-container h5 {
	color: white;
	font-size: 2.5vw;
}

.individual-puppy-container p {
	color: white;
	font-size: 1.5vw;
}

.individual-puppy-container a {
	color: white;
	text-decoration: none;
}

/* HIDE DROPDOWNS */
#content-have-puppy {
	display: none;
}





