/* NON-TIFFANY BLUE: #77d2ca OR rgba(119, 210, 202, 1) */

body {
	font-family: 'Playfair Display', serif;
}

nav a {
	font-size: 1.2em;
	color: white;
}

.navbar-toggle {
	border: 1px solid white;
}

.navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-brand span {
	font-size: 2em;
}

/********************************* HEADER ********************************************/
.jumbotron {
	height: 60vh;
	background-image: url('https://i.imgur.com/uJVRYRK.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 25%;
	opacity: .8;
	margin-bottom: 0;
}

#jumbotron-content {
	margin-top: 20vh;
	text-align: center;
}

.jumbotron h1 {
	font-family: 'Sacramento', sans-serif;
	font-weight: bold;
	font-size: 7em;
	color: white;
	margin-bottom: 30px;
}

.jumbotron .btn {
	background-color: green;
	border: 1px white solid;
	color: white;
}

/********************************** QUOTE MID SECTION ***************************************/
.home-label {
	text-align: center;
	background-color: #77d2ca;
	padding: 50px 0;
}

.home-label a{
	color: white;
	border: 2px solid white;
	padding: 5px 10px;
	font-size: 30px;
	border-radius: 10px;
}

.home-label a:hover {
	text-decoration: none;
	opacity: 0.8;
}

/********************************* ITEM NAVIGATION *****************************************/
.item-container {
	display: flex;
	justify-content: center;
}

.item {
	position: relative;
	float:left;
	overflow: hidden;
	min-width: 25%;
	cursor: pointer;
}

.item .item-image {
	min-width: 100%;
	height: 50vw;
}

.item3 .item-image{
	-webkit-filter: brightness(145%);
}

.item h3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-weight: 700;
	padding: 15px 0;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	margin: 0;
	font-size: 2vw;
}

.item a{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 34px;
	border-radius: 50%;
	color: #000000;
	border: solid 4px white;
	width: 120px;
	height: 120px;
	text-align: center;
	line-height: 60px;
}


.item a img{
	position: absolute;
	top: 15%;
	left: 15%;
	height: 80px;
	width: 80px;
}

/* ITEM COLORING */
/* CUB SCHOOL */
.item1 {
	background-color: white;
}

/* HEALTH AND WELLNESS */
.item2 {
	background-color: white;
}

/* FOOD */
.item3 {
	background-color: white;
}

/* CUB SOCIAL */
.item4 {
	background-color: white;
}


/* ITEM TRANSITION AND TRANFORMATIONS */
.item:hover .item-image {
	opacity: 0.5;
}

.item * {
	transition: all 0.35s ease-in-out;
}

.item a {
  transform: translate(-50%, -50%) scale(0);
}

.item:hover a {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/******************************** MEET THE TEAM ******************************************/
.team-container {
	width: 100%;
	background-color: rgba(119, 210, 202, 1);
	padding-bottom: 50px;
}

.team-header {
	text-align: center;
	color: white;
	margin: 0;
	padding-top: 50px;
	font-family: 'Sacramento', cursive;
	font-size: 100px;
}

.teammate-container {
	position: relative;
	display: block;
	width: 80%;
	margin: 20px auto 0 auto;
	background-color: rgb(255, 255, 255, 0.7);
	padding: 40px;
	border-radius: 20px;
}

.teammate-separate {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.teammate-image {
	object-fit: cover;
	width: 100%;
	height: calc(100vw - 60px - );
	border-radius: 50%;
}

.teammate-info-content {
	height: 60px;
	overflow: hidden;
	transition: height 1s ease-out;
}

.see-more-button-right {
	float: right;
	color: rgba(119, 210, 202, 1);
	cursor: pointer;
	font-weight: 700;
}

.see-more-button-left {
	float: left;
	color: rgba(119, 210, 202, 1);
	cursor: pointer;
	font-weight: 700;
}

.right {
	text-align: right;
}

/********************************* MEDIA QUERIES FOR RESPONSIVENESS ****************************/
@media screen and (max-width: 1200px){
	.jumbotron h1{
		font-size: 5em;
	}
}

@media screen and (max-width: 925px){
	.jumbotron {
		background-position: center;
	}
}

@media screen and (max-width: 768px){
	.jumbotron h1{
		font-size: 4em;
	}
}

@media screen and (max-width: 680px){
	.jumbotron{
		height:40vh;
	}

	#jumbotron-content {
		margin-top: 5vh;
	}

	.jumbotron h1{
		font-size: 3em;
	}

	.item-container {
		flex-flow: row wrap;
	}

	.item-container .item {
		min-width: 50%;
		max-width: 50%;
	}

	.item-container .item .item-image {
		width: 75%;
		height: 75vw;
	}

	.item-container .item h3 {
		font-size: 2.5vw;
	}
}
