/* HOOMAN PROFILE */
.pet-btn {
	border: 1px solid #eee;
	border-radius: 20px;
	margin-top: 20px;
}

.pet-container {
	width: 80%;
	margin: 0px auto;
}


.pet-images {
	float: left;
	margin-left: 5px;
}

.pet-image-thumbnail {
	height: 100px;
	width: 100px;
	border-radius: 50px;
}



