<% include ../../partials/header %>

<div id="cub-social-page">
	<br>
	<h1><i class="fas fa-paw"></i>- Cub Social -<i class="fas fa-paw"></i></h1>
	<br>

	<div class="container-fluid" id="cub-social-content">
		<div class="row">
			<div class="col-md-3">
				<div class="sidebar-container">
					<h2>Events: </h2>
					<ul>
						<li>Event1</li>
						<li>Event2</li>
						<li>Event3</li>
						<li>Event4</li>
					</ul>
				</div>
			</div>
			<div class="col-md-9 main-container">
				<h2>Dog Lovin' Towns: </h2>
				<div class="towns-top-row">
					<a href="#"><img src="https://st.depositphotos.com/1446098/1387/i/950/depositphotos_13878141-stock-photo-the-famous-hollywood-sign.jpg"></a>
					<a href="#"><img src="https://st.depositphotos.com/1446098/1387/i/950/depositphotos_13878141-stock-photo-the-famous-hollywood-sign.jpg"></a>
					<a href="#"><img src="https://st.depositphotos.com/1446098/1387/i/950/depositphotos_13878141-stock-photo-the-famous-hollywood-sign.jpg"></a>
					<a href="#"><img src="https://st.depositphotos.com/1446098/1387/i/950/depositphotos_13878141-stock-photo-the-famous-hollywood-sign.jpg"></a>
				</div>
				<div class="towns-middle-row">
					<a href="#"><img src="https://st.depositphotos.com/1446098/1387/i/950/depositphotos_13878141-stock-photo-the-famous-hollywood-sign.jpg"></a>
					<a href="#"><img src="https://st.depositphotos.com/1446098/1387/i/950/depositphotos_13878141-stock-photo-the-famous-hollywood-sign.jpg"></a>
					<a href="#"><img src="https://st.depositphotos.com/1446098/1387/i/950/depositphotos_13878141-stock-photo-the-famous-hollywood-sign.jpg"></a>
				</div>
				<div class="towns-bottom-row">
					<a href="#"><img src="https://st.depositphotos.com/1446098/1387/i/950/depositphotos_13878141-stock-photo-the-famous-hollywood-sign.jpg"></a>
					<a href="#"><img src="https://st.depositphotos.com/1446098/1387/i/950/depositphotos_13878141-stock-photo-the-famous-hollywood-sign.jpg"></a>
				</div>
				<div class="row social-extras">
					<div class="col-md-6">
						<div>
							<h3>Fun Articles</h3>
						</div>
					</div>
					<div class="col-md-6">
						<div>
							<h3>Fun Websites</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>





</div>

<% include ../../partials/footer %>

	<script src="/scripts/bootstrap.min.js"></script>

</body>
</html>