<% include ../../partials/header %>

<div class="jumbotron">
	<h1>Food</h1>
</div>

<a href="/food/dry">Dry</a>
<a href="/food/wet">Wet</a>
<a href="/food/raw">Raw</a>
<a href="/food/freeze-dried">Freeze dried</a>
<a href="/food/treats">Treats</a>



<% include ../../partials/footer %>