<% include ../partials/header %>

<div class="jumbotron">
	<h1>Cub School</h1>
</div>

<div class="container" id="package-container">
	<h4>Click each package for more information</h4>
	<ul class="package-list-container">
		<li class="package-list">
			<h3>"Welcome Home" Package</h3>
			<div class="package-dropdown">
				<hr>
				<ul>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Basic obedience</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Potty training</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Re-homing/rescue pet behavior and education</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Dog body language education</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Hand command training</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>All ages welcome</span>
					</li>
				</ul>
			</div>
		</li>
		<hr id="package-separate">
		<li class="package-list">
			<h3>"Age Don't Mean a Thing" Package</h3>
			<div class="package-dropdown">
				<hr>
				<ul>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Obedience tailored to physical health</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Senior dog wellness activities/education</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Mental games</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Special needs help (blind/deaf)</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Day with a vet Q&A</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Age varies on breed and energy level</span>
					</li>
				</ul>
			</div>
		</li>
		<hr id="package-separate">
		<li class="package-list">
			<h3>"Upperclassman" Package</h3>
			<div class="package-dropdown">
				<hr>
				<ul>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Intro package to agility and AKC obedience events</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>High distraction activities with minimal rewards</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Advanced hand command training</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>AKC Canine Good Citizen evaluation</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Pet therapy intro package (not service dogs)</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>All ages welcome</span>
					</li>
				</ul>
			</div>
		</li>
		<hr id="package-separate">
		<li class="package-list">
			<h3>"I Need a Therapist" Package</h3>
			<div class="package-dropdown">
				<hr>
				<ul>
					<li>
						<i class="fas fa-paw package-icon"></i><span>All private classes</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Behavior modification such as:</span>
						<ul id="therapist-embedded-list">
							<li><i class="fas fa-circle"></i>Leash reactive</li>
							<li><i class="fas fa-circle"></i>Dog reactive</li>
							<li><i class="fas fa-circle"></i>People reactive</li>
							<li><i class="fas fa-circle"></i>Resource guarding</li>
							<li><i class="fas fa-circle"></i>Separation anxiety</li>
						</ul>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Added on obedience training</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Real life situation issues</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Complete dog-wolf body language education</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Lifetime support</span>
					</li>
				</ul>
			</div>
		</li>
		<hr id="package-separate">
		<li class="package-list">
			<h3>"Hooman and Me" Package</h3>
			<div class="package-dropdown">
				<hr>
				<ul>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Parlor tricks</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Fun obedience structured games</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>AKC Rally introduction</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Active heel work</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Short agility introduction</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Socialization</span>
					</li>
					<li>
						<i class="fas fa-paw package-icon"></i><span>Minimum 5 sign ups</span>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>


<% include ../partials/footer %>