<% include ../partials/header %>

<div id="food-page">
	<br>
	<h1><i class="fas fa-paw"></i>- Food -<i class="fas fa-paw"></i></h1>
	<br>

	<div class="blurb">
		<p>Choosing the perfect dog food for your cub can be very confusing! Here are some brands to get you started, with great quality dog food for every budget plan!</p>
		<p>All food brands were picked from Dog Food Advisor's 4 stars and up reviews!  (link to dogfoodadv)</p>
	</div>

	<div class="food-page-content container">
		<div class="header-tabs">
			<h4 id="tab-less-40">Less than $40</h4>
			<h4 id="tab-40-60">$40 - $60</h4>
			<h4 id="tab-60-80">$60 - $80</h4>
			<h4 id="tab-raw">Raw</h4>
			<h4 id="tab-freeze-dried">Freeze Dried</h4>
		</div>
		<div class="food-content">

<!-- ******************************** LESS THAN 40 ************************************** -->
			<div id="content-less-40">

				<div class="individual-food-container">
					<div class="row">
						<div class="col-xs-8">
							<h5>Authority Grain Free</h5>
							<p id="authority">Locations: </p>
							<div class="food-icon-container"></div>
						</div>
						<div class="col-xs-4">
							<img class="food-image" src="https://s7d2.scene7.com/is/image/PetSmart/5221194?$pdp-placeholder-desktop$">
						</div>
					</div>
				</div>
				
				<hr>

				<div class="individual-food-container">
					<div class="row">
						<div class="col-xs-8">
							<h5>Eukanuba Premium Performance</h5>
							<p id="eukanuba">Locations: </p>
							<div class="food-icon-container"></div>
						</div>
						<div class="col-xs-4">
							<img class="food-image" src="https://s7d1.scene7.com/is/image/PETCO/2487473-center-1">
						</div>
					</div>
				</div>

				<hr>

				<div class="individual-food-container">
					<div class="row">
						<div class="col-xs-8">
							<h5>Kirkland Signature Nature's Domain</h5>
							<p id="kirkland">Locations: </p>
							<div class="food-icon-container"></div>
						</div>
						<div class="col-xs-4">
							<img class="food-image" src="https://images.costco-static.com/ImageDelivery/imageService?profileId=12026540&imageId=533119-847__1&recipeName=350">
						</div>
					</div>
				</div>

				<hr>

				<div class="individual-food-container">
					<div class="row">
						<div class="col-xs-8">
							<h5>Nutro Max</h5>
							<p id="nutro">Locations: </p>
							<div class="food-icon-container"></div>
						</div>
						<div class="col-xs-4">
							<img class="food-image" src="https://images-na.ssl-images-amazon.com/images/I/51flAJKDw1L._SL500_AC_SS350_.jpg">
						</div>
					</div>
				</div>

				<hr>

				<div class="individual-food-container">
					<div class="row">
						<div class="col-xs-8">
							<h5>Rachael Ray Nutrish Peak</h5>
							<p id="rachael">Locations: </p>
							<div class="food-icon-container"></div>
						</div>
						<div class="col-xs-4">
							<img class="food-image" src="https://i5.walmartimages.com/asr/72757939-57f8-4aae-a0a4-ab9d70f51f8d_1.ca02a7809b025d563c6b3c2ed2847e12.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF">
						</div>
					</div>
				</div>
				
				<hr>

				<div class="individual-food-container">
					<div class="row">
						<div class="col-xs-8">
							<h5>Wellness Core</h5>
							<p id="wellness">Locations: </p>
							<div class="food-icon-container"></div>
						</div>
						<div class="col-xs-4">
							<img class="food-image" src="https://img.chewy.com/is/catalog/52018._SY630_V1460478783_.jpg">
						</div>
					</div>
				</div>

			</div>

<!-- ******************************** 40-60 ************************************** -->

			<div id="content-40-60">

				<div class="individual-food-container">
					<div class="row">
						<div class="col-xs-8">
							<h5>Merrick Grain Free</h5>
							<p id="merrick">Locations: </p>
							<div class="food-icon-container"></div>
						</div>
						<div class="col-xs-4">
							<img class="food-image" src="https://images-na.ssl-images-amazon.com/images/G/01/aplusautomation/vendorimages/f5641247-7431-4677-b295-976c5c32febb.jpg._CB272274127__SL300__.jpg">
						</div>
					</div>
				</div>
				
				<hr>

				<div class="individual-food-container">
					<div class="row">
						<div class="col-xs-8">
							<h5>Nulo Medal Series</h5>
							<p id="nulo">Locations: </p>
							<div class="food-icon-container"></div>
						</div>
						<div class="col-xs-4">
							<img class="food-image" src="https://lh3.googleusercontent.com/proxy/cSstQUAB43wATTJATIvgXUYqoksLyCi5eezAVMlxkUVkbsMa3INQIxPwLPBTfqMwixnGqMepWB2O2ugJYnQcVCOPV0j_zbjCBpkPnHK9DS6ezgFNQsvmOhUG81immLIXt19QaZQmpN0BhQ42xoc1Ivlu8tbOFnJtbfTcIUqWFF-J0FkAM2X5phluKRtn1OtgtuivC5SBmRyiIBz3qIg=s500-pd-e365-pc0xffffff">
						</div>
					</div>
				</div>

				<hr>

				<div class="individual-food-container">
					<div class="row">
						<div class="col-xs-8">
							<h5>Simply Nourish Source</h5>
							<p id="simply">Locations: </p>
							<div class="food-icon-container"></div>
						</div>
						<div class="col-xs-4">
							<img class="food-image" src="https://i.pinimg.com/originals/f4/00/7c/f4007cca069271c8f2bc1814b38da76e.jpg">
						</div>
					</div>
				</div>

				<hr>

				<div class="individual-food-container">
					<div class="row">
						<div class="col-xs-8">
							<h5>Taste of the Wild</h5>
							<p id="taste">Locations: </p>
							<div class="food-icon-container"></div>
						</div>
						<div class="col-xs-4">
							<img class="food-image" src="https://www.1800petmeds.com/images/products/420/60210_420.jpg">
						</div>
					</div>
				</div>

			</div>

<!-- ******************************** 60-80 ************************************** -->

			<div id="content-60-80">

				<div class="individual-food-container">
					<div class="row">
						<div class="col-xs-8">
							<h5>Acana</h5>
							<p id="acana">Locations: </p>
							<div class="food-icon-container"></div>
						</div>
						<div class="col-xs-4">
							<img class="food-image" src="https://www.homesalive.ca/media/catalog/product/cache/1/image/700x560/e9c3970ab036de70892d86c6d221abfe/a/c/acana-classic-red-dog-food.jpg">
						</div>
					</div>
				</div>
				
				<hr>

				<div class="individual-food-container">
					<div class="row">
						<div class="col-xs-8">
							<h5>Orijen</h5>
							<p id="orijen">Locations: </p>
							<div class="food-icon-container"></div>
						</div>
						<div class="col-xs-4">
							<img class="food-image" src="https://www.homesalive.ca/media/catalog/product/cache/1/image/700x560/e9c3970ab036de70892d86c6d221abfe/o/r/orijen-six-fish-dog-food_3.jpg">
						</div>
					</div>
				</div>

				<hr>

				<div class="individual-food-container">
					<div class="row">
						<div class="col-xs-8">
							<h5>Nature's Variety Instinct Original</h5>
							<p id="natures">Locations: </p>
							<div class="food-icon-container"></div>
						</div>
						<div class="col-xs-4">
							<img class="food-image" src="https://www.1800petmeds.com/images/products/420/60210_420.jpg">
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>



</div>

<% include ../partials/footer %>

	<script src="/scripts/bootstrap.min.js"></script>
	<script src="/scripts/home-categories/food.js"></script>
</body>
</html>