<% include ../partials/header %>

<div id="health-page">
	<br>
	<h1><i class="fas fa-paw"></i>- Health -<i class="fas fa-paw"></i></h1>
	<br>
	<div class="row">
		<div class="container" id="health">
			<h3 class="col-xs-12">Care by:</h3>
			<div class="col-md-3">
				<ul id="care-by-list">
					<li id="age">Age</li>
					<li id="breed">Breed</li>
					<li id="activity">Activity</li>
					<li id="financial">Financial Status</li>
					<li id="medical">Special Veterinary Care</li>
				</ul>
			</div>
			<div class="col-md-3" id="care-by-subset-list">
				<ul id="age-list">
					<li>Newborn</li>
					<li>Young Adult</li>
					<li>Adult</li>
					<li>Senior</li>
					<li>Golden Years</li>
				</ul>
				<ul id="breed-list">
					<li>Brachycephalic</li>
					<li>Small</li>
					<li>Medium</li>
					<li>Large</li>
				</ul>
				<ul id="activity-list">
					<li>Hike</li>
					<li>Travel</li>
					<li>High Temperature</li>
					<li>Low Temperature</li>
					<li>Running</li>
					<li>Yard Dog</li>
				</ul>
				<ul id="financial-list">
					<li>Low</li>
					<li>Mid-range</li>
					<li>No Budget</li>
				</ul>
				<ul id="medical-list">
					<li>Ortho</li>
					<li>Cardio</li>
					<li>Oncology</li>
					<li>Dermatology</li>
					<li>Common/General</li>
				</ul>
			</div>
			<div class="col-md-6">

				<div id="brachycephalic">
					<div class="care-info">
						<div class="row">
							<div class="col-md-3">
								<img src="https://i.imgur.com/WGPjB5B.png">	
							</div>
							<div class="col-md-9">
								<h4>earthbath Pet Wipes</h4>
								<p>These are pet wipes that are awesome for your pugs.</p>	
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

<% include ../partials/footer %>

	<script src="/scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/scripts/home-categories/health.js"></script>
</body>
</html>