<% include ../partials/header %>

<div id="puppy-town-page">
	<br>
	<h1><i class="fas fa-paw"></i>- Puppy Town -<i class="fas fa-paw"></i></h1>
	<br>

	<div class="puppy-page-content container">
		<div class="header-tabs">
			<h4 id="looking-for-puppy">Looking for Puppy</h4>
			<h4 id="have-a-puppy">Have a Puppy</h4>
		</div>
		<div class="puppy-content">

<!-- ******************************** Looking For Puppy ************************************** -->
			<div id="content-looking-puppy">

				<div class="individual-puppy-container">
					<h5>I'm looking for a puppy</h5>
				</div>
				
				<hr>
			</div>

<!-- ******************************** 40-60 ************************************** -->

			<div id="content-have-puppy">

				<div class="individual-puppy-container">
					<h5>I have a puppy</h5>
				</div>
				
				<hr>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>

	<script src="/scripts/bootstrap.min.js"></script>
	<script src="/scripts/home-categories/puppy-town.js"></script>
</body>
</html>